.downloadManager {
    width: 1200px;
    height: fit-content;
    box-shadow: 1px 2px 2px 3px #dddddd ;
}

.toolBar {
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mainCheckbox {
    height: 100%;
    width: 15%;
    min-width: 100px;
    padding-left: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainCheckboxText {
    margin-left: 1em;
}

.downloadButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
}

.downloadButton:hover {
    background-color: rgb(243, 243, 243);
}

.downloadIcon {
    height: 1em;
    margin-right: 6px;
}

.downloadsTable {
    width: 100%;
    border: solid 1px #dddddd;
    border-collapse: collapse;
}

.downloadsTable th {
    text-align: left;
    font-size: large;
    font-weight: 300;
    border-bottom:  solid 1px #dddddd;
    padding-top: .25em;
}

.downloadsTable tr {
    height: 3em;
}

.itemCheckboxColumn {
    width: 5%;
    padding-left: 6px;
}

.itemNameColumn {
    width: 15%;
}
.itemDeviceColumn {
    width: 15%;
}

.itemPathColumn {
    width: 50%;
}

.itemAvailabilityColumn {
    width: 5%;
}

.itemStatusColumn {
    width: 10%;
    padding-right: 50px;
}

.downloadsTableBody tr {
    font-size: small;
    border-bottom:  solid 1px #dddddd;
    cursor: pointer;
}

.downloadsTableBody tr:hover {
    background-color: rgb(243, 243, 243);
}

.availableItem {
    background-color: rgb(237, 237, 237);
}

.availabilityIndicatorContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.availabilityIndicator {
    width: 18px;
    height: 18px;
    background-color:  rgb(127, 208, 70);
    border-radius: 100px;
    margin-right: 6px;
}
