.downloadManager {
    width: fit-content;
    height: fit-content;
    border-radius: 2px;
    box-shadow: 1px 2px 2px 3px #dddddd ;
}

.toolBar {
    display: flex;
    flex-direction: row;
}

.downloadButton {
    margin-left: 1em;
}

.downloadsTable {
    border-top: solid 1px #dddddd;
}

.downloadsTable th {
    text-align: left;
    font-size: large;
    font-weight: 300;
    padding: 8px 12px 6px 12px;
}

.downloadTableItem td {
    padding: 6px 12px;
}

.availabilityIndicator {
    width: 15px;
    height: 15px;
    background-color:  rgb(127, 208, 70);
    border-radius: 100px;
}
